.language{
   
    text-align: center;
    span{
        font-size: 30px;

        
    }
    i{
        color: red;
    }
    ul{
        list-style: none;
        display: flex;
        margin-left: 250px;
        margin-top: 20px;
        li{
            margin-left: 10px;
            background-color: green;
            width: 95px;
            height:30px;
        }
    }
   
   
}